<template>
  <div>
    <div class="envTag">
      {{env}}:
      <span class="time">{{savedData[0].startTime}}</span>
    </div>
    <div class="box">
      <div v-for="(value, index) in savedData" v-bind:key="index" class="column newcommon">
        <font-awesome-icon
          :class="value.status"
          :icon="value.status =='UP'? 'arrow-circle-up':'arrow-circle-down'"
          size="lg"
        />
        {{value.serviceName}}
        <span
          class="responseTime"
        >({{responseTime[index]}}s - max:{{value.maxTime}}s)</span>
      </div>
    </div>
  </div>
</template>

<script>
import { setTimeout } from "timers";
import axios from "axios";
import { httpHeaders } from "./httpUtil";

export default {
  props: {
    apiHost: {
      type: String,
      required: true
    },
    env: {
      type: String,
      required: true
    },
    refreshRate:{
      type: Number,
      default:1
    }
  },
  data() {
    return {
      timeInterval: (this.refreshRate),
      message: "",
      status: "red",
      data: [],
      processedData: [],
      responseTime: [],
      time: null,
      savedData: [],
      isLoading: false,
      maxTime: {}
    };
  },

  created: function() {
    this.getData();
  },

  methods: {
    processData(data) {
      this.savedData = [];
      data.map(service => {
        
        let object = {};
        object.serviceName = service.serviceName;
        object.status = service.status;
        var startTime = new Date(service.startTime);
        var endTime = new Date(service.endTime);
        let responseTime = (endTime.getTime() - startTime.getTime()) / 1000;
        object.responseTime = startTime.toLocaleTimeString();
        object.startTime = startTime.toLocaleTimeString();
        object.errorDetails = service.errorDetails;
        this.maxTime[service.serviceName] = this.maxTime[service.serviceName]
          ? responseTime > this.maxTime[service.serviceName]
            ? responseTime
            : this.maxTime[service.serviceName]
          : responseTime;
        object.maxTime = this.maxTime[service.serviceName];
        this.savedData.push(object);
        this.responseTime.push(responseTime);
        if(service.status =='DOWN') {
            let log={}
            log.errorDetails = service.errorDetails;
            log.serviceName = service.serviceName
            log.env = this.env
            log.time = object.startTime
            this.$emit('error', log);
        }
      });
    },
    getData() {
      const HTTP = axios.create({
        baseURL: this.apiHost,
        headers: httpHeaders
      });
      HTTP.get("probe/all").then(response => {
        this.data = response.data;
        this.$nextTick(() => {
          this.time = new Date(this.data[0].startTime);
          this.processData(this.data);
          let timeInterval = this.refreshRate*60000

          setInterval(() => this.callback(), timeInterval);
        });
      });
    },
    callback(){
      this.getData();
    }
  }
};
</script>

<style>
.UP {
  color: rgb(104, 197, 104);
}
.yellow {
  color: yellow;
}
.DOWN {
  color: red;
}
.row {
  display: flex;
}

.spaced {
  margin-top: 11px;
  margin-left: 20px;
  width: 100%;
  font-weight: bold;
}
.columns:last-child {
  margin-bottom: 0rem !important;
}

.columns.is-multiline {
  flex-basis: 100% !important;
}
.common {
  font-size: 14px;
  color: blue;
}

.box {
  border-radius: 4px;
  border: 2px solid rgb(133, 138, 128);
  padding: 20px;
  max-width: 270px;
  height: 310px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: cornsilk;
}
.title {
  margin-left: 10px;
}
.details {
  font-size: 12px;
  color: rgb(219, 10, 10);
  margin-left: 5px;
}
.responseTime {
  font-size: 12px;
  color: rgb(19, 16, 16);
  margin-left: 5px;
}
.newcommon {
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
}

.button-border-navy {
  color: navy;
  border-color: navy;
}
.envTag {
  border-radius: 4px;
  background-color: cornsilk;
  border: 2px solid rgb(133, 138, 128);
  max-width: 290px;
  margin-right: 20px;
  color: rgb(6, 15, 141);
  font-weight: bold;
  padding: 10px;
}
.time {
  color: rgb(106, 107, 122);
  font-size: 12;
  margin-left: 50px;
}
</style>