<template>
  <div id="app">
    <img src="images/mvdls_icon.png" alt="mvdls">
    <div class="header row">
      <h2 class="title">MVDLS Services Monitoring DashBoard</h2>
          <div  class="selectArea"> Refresh Rate:
          <select  class='custom-select' v-model="refreshRate">
            <option v-for="index in 10" :value="index" :key="index">{{index}} min</option>
          </select>
        </div>
    </div>


    <div class="row">
      <div class="widgets" style="display:flex;flex-wrap: wrap;">
        <div class="column is-4" v-for="(value, index) in  envs" :key="index">
          <env-widget
            @error="logError"
            :refreshRate="refreshRate"
            :apiHost="value.apiHost"
            :env="value.env"
          ></env-widget>
        </div>
      </div>

      <div>
        <span class="logTag">Errors Log :</span>
        <br>
        <div class="logArea">
        <div
          class="error"
          v-for="(value, index) in log"
          :key="index"
        >->{{value.time}}:{{value.env}} : {{value.serviceName}} -{{value.errorDetails}}</div>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import { setTimeout } from "timers";
import { envs } from "./components/envData";

export default {
  data() {
    return {
      message: "",
      status: "red",
      data: [],
      processedData: [],
      time: null,
      envs: envs,
      log: [],
      refreshRate: 1
    };
  },

  methods: {
    logError(val) {
      if (this.log.length == 100) this.log = [];
      this.log.push(val);
    }
  }
};
</script>

<style>
#app {
  font-family: "Lato", sans-serif;
  margin-right: 30px;
  margin-left: 30px;
}
.header {
  margin-top: 0px;
}
.logArea {
  border-radius: 4px;
  border: 2px solid rgb(133, 138, 128);
  height: 750px;
  width: 400px;
  background-color: white;
  overflow-y: scroll;
}
.widgets {
  width: 1500px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}
.logTag {
  color: brown;
  font-weight: bold;
  background-color: rgb(220, 223, 208);
  display:flex;
  border: 2px solid rgb(133, 138, 128);
  border-radius: 4px;
  padding: 10px;
}
.error {
  margin-left: 10px;
  font-size: 12px;
}
.select {
  margin-bottom: 5px;
  border-radius: 4px;
  margin-top: 15px;
  margin-left: 40px;
}
.is-4 {
  flex: none;
  width: 25%;
}

.custom-select {
  position: relative;
  font-family: Arial;
  width: 100px;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 30px
}
.selectArea{
  margin-top: 25px;
  margin-left: 60px;
}
</style>