#app{
    background-color: bisque
  }
  
  .green{
    color: green
  }
  .yellow{
    color: yellow
  }
  .red{
    color: red
  }
  .row {
      display: flex;
    }
  
  .spaced{
    margin-top: 11px;
    margin-left: 20px;
    width: 100%
  }
  .columns:last-child {
    margin-bottom: 0rem !important;
  }
  
  .columns.is-multiline {
    flex-basis: 100% !important;
  }
  .common{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: blue;
    margin-left: 100px
  }
  .header{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px
  }